Don't serve full ANY responses

ANY responses can be much larger than the question, so can be exploited for amplification attacks. While we already [enforce TCP for ANY queries](https://doc.powerdns.com/authoritative/settings.html#any-to-tcp) to mitigate simple attacks with a forged source,

> [In attacks that are reflected via open resolvers, (...) the open resolvers are happy to fall back to TCP](https://blog.cloudflare.com/what-happened-next-the-deprecation-of-any/)

and not much is gained.

The canonical way of treating this is according to [RFC 8482 Sec. 4.2](https://tools.ietf.org/html/rfc8482#section-4.2), which suggests to synthesize an HINFO record, as done e.g. by Cloudflare:
```
$ dig +nocmd +nocomments +nostats +dnssec asjdiof.cloudflare.com ANY @ns4.cloudflare.com.
;asjdiof.cloudflare.com.		IN	ANY
asjdiof.cloudflare.com.	3789	IN	HINFO	"RFC8482" ""
asjdiof.cloudflare.com.	3789	IN	RRSIG	HINFO 13 3 3789 20201105183643 20201103163643 34505 cloudflare.com. cUpHo29KFkfCsqABk/f6jAGKlrbWuZ4W+qHzJMUYiKEjhuVgtaYXjJP3 Q4J6l//Yv2fXZZcRXcIbszahk7UKsg==
```

The problem here is that the response contains the query qname, that is, the signature depends on the qname. As a consequence, this can't be done with offline signing, which is incompatible with our policy of not having key material on secondaries.

Alternatively, the situation can be handled by returning an (unsigned) error response, with rcode REFUSED or NOTIMPL. Cloudflare initially took that approach for the draft of RFC 8482, but after community discussion decided against it:

> [Returning an error to a recursive resolver was not a good option, as the resolver will just ask the next authoritative server and visit all the authoritative servers before giving up.](https://blog.cloudflare.com/what-happened-next-the-deprecation-of-any/)

However, I think that not mitigating the amplification attack risk (which could have DoS effects on us) is an even worse option than having ANY queries reach both of our ns1 and ns2, as long as doing the best thing according to RFC 8482 is not feasible. (Note that synthesizing an unsigned HINFO record would lead to a validation error on validating resolvers, so it will also ask the next authoritative server just as when we send an error code.)

So, I propose answering ANY queries with NOTIMPL. (This is, by the way, also what some resolvers do, e.g. 1.1.1.1.) The implementation in dnsdist would look something like:

```
addAction(QTypeRule(DNSQType.ANY), RCodeAction(DNSRCode.NOTIMP))
```

RFC 8482 is explicitly declared optional (Sec. 7), so using an error code is compliant with the general DNS specification. We also have been responding to RRSIG queries with error code REFUSED. (This apparently is default behavior of the software we use.)

> The implementation in dnsdist would look something like:
> 
> ```
> addAction(QTypeRule(DNSQType.ANY), RCodeAction(DNSRCode.NOTIMP))
> ```

We don't route all queries through dnsdist anymore, so if we want to do this, it has to be done in the authoritative server (pdns auth) itself.

pdns auth by default returns a truncated packet, which causes the question to be re-asked over TCP, so it's not useful for amplification attacks. Given this, I'm not sure we actually need this. @nils-wisiol ?

> ANY responses can be much larger than the question, so can be exploited for amplification attacks. While we already [enforce TCP for ANY queries](https://doc.powerdns.com/authoritative/settings.html#any-to-tcp) to mitigate simple attacks with a forged source,
> 
> > [In attacks that are reflected via open resolvers, (...) the open resolvers are happy to fall back to TCP](https://blog.cloudflare.com/what-happened-next-the-deprecation-of-any/)
> 
> and not much is gained.

In discussions at IETF 118 with Peter from PowerDNS, it seemed like this is not a practical problem.